<html>


<body class="imageHolder">

    <div class="mask flex-center rgba-green-strong">
     

    <div class="mycontainer">


        <div class="card" style="border-radius: 25px;">

            <p class="text-center h1 fw-bold ">Login</p>

            <form (ngSubmit)="loginForm()">

                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" name="email"
                        [(ngModel)]="userLoginClassObject.email" [(ngModel)]="registrationData.email" aria-describedby="emailHelp" placeholder="Enter email"
                        required="true">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="password"
                        [(ngModel)]="userLoginClassObject.password" placeholder="Password" required="true">
                </div>

                <div class="form-check">

                    <a [routerLink]="['/Login']" (click)="forgotPassword()" >Forgot Password?</a>
                </div>

                <div class="spinner-border text-primary" role="status" *ngIf="activateSpinner"> 
                    <span class="sr-only">Loading...</span>
                </div>
                
                <div class="button-container">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form> 

        </div>

    </div>

</div>
</body>

</html>

                <!-- Modal -->
                <!-- <div  class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered " role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">{{model_title}}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                               {{model_msg}}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Ok</button>
                            </div>
                        </div>
                    </div>
                </div>
 -->
