.card{

    margin-top: 50px;
    margin-left: 220px;
    margin-bottom: 50px;
      
    width:800px;

    background: #fafafa;
    border-radius: 25px;
}

.form-group {
    margin-top: 70px;
    margin-left: 30px;
   
}

.form-select{
    margin-left: 50px;
    width: 300px;
    border-radius: 5px;
    border-color: rgb(255, 255, 255);
    height: 40px;
    
}

.lab{
    margin-left: 50px;
    margin-right: 10px;
}
.labSelect{
    margin-left: 10px;
    width: 100px;
    border-radius: 5px;
    height: 40px;
}

.bread-input{
    margin-left: 50px;
    width: 300px;
    border-radius: 5px;
    height: 40px;
}

.gender{
    margin-left: 70px;
}

.btn{
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 350px;
}

.description{

    width: 750px;
    resize: none;
    border-radius: 7px;

}

.petName{
    width: 300px;
    border-radius: 5px;
    border-color: rgb(255, 255, 255);
    margin-left: 50px;
    height: 40px;
}

h1{
    text-align: center;
    margin-top: 30px;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.heading{
    margin-left: 470px;
}


