.heading{
    margin-left: 200px;
}

.btn2{

 background-color: #ff7043;
  color:whitesmoke;
  margin-left: 20px;
}

.btn1{

    background-color:#8bc34a;
    color:whitesmoke;
   
}

.container{
    margin-top: 100px;
}

thead{
    background: rgb(22, 22, 36);
    width:100%;
 
}

th{
    color: rgb(255, 255, 255);
    font-size: large;
}