.card{
    margin-top: 70px;
    
    margin-inline: 0px;
   
    /* background-color:  rgba(146, 34, 34, 0.301); */
    background-color: #fafafa;
    border-radius: 10px;
    
}

.card-deck{
    width:900px;
    margin-left: 100px;
  
}

.btn{
    width: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
    align-self: center;
    border-radius: 10;
}

.list-group-item{
    width: 400px;
    align-self: center;
}
.list-item-one{
    margin-top: 3px;
    border-radius: 20px;
    background-color:rgba(175, 201, 241);
}

.list-item-two{
    margin-top: 3px;
    border-radius: 20px;
    background-color: rgb(231, 235, 181);
}

.container{
    margin-top: 100px;
  
    align-self: center;
}

.card-img-top{
   
    /* max-height: 450px;
    max-width: 450px; */
    height: 451px;
    width: 450px;
    align-self: center;
    border-radius: 10px;
        
}

.pageContainer{
    
    margin-top: 50px;
    margin-left: 550px;
  
    
}
.pagination ::ng-deep .ngx-pagination .current {
    background: #101531  ;
    
   
}

.h4{
    text-align:center;
}

h1{
    margin-top: 213px;
    text-align: center;
}


.h2{
    margin-left: 30px;
}

.btn-dropdown{
    margin-left: 50px;
}
.heading{
    margin-left: 380px;
}

.btn1{
    width:150px;
}