

.card{
    width:400px;
    height: 450px;

    /* margin-right: 400px; */
        
    padding-top: 25px;

    margin-top: 30px;
    margin-left: 125px;

    background-color:rgba(193, 202, 151, 0.76) ;
}

.text-center{
    color:rgb(59, 58, 58);
}

 .mycontainer{
    
    padding-top: 155px;
    margin-left: 450px;
    margin-bottom: 100px;
   
} 


.form-group {
    
    width:370px;
    
    margin-top: 25px;
    padding-left: 20px;
    padding-bottom: 30px;
}

.form-check{
    margin-left: 20px;
    padding-bottom: 7px;
   
}

/* .btn {
    width: 100px;
} */

.button-container{

    /* margin-top: 5px;
    margin-left: 20px;
    margin-right: 100px;

    width: 100px; */

    padding-left: 130px;
    
}